* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* common style start*/
.container {
    width: 95%;
    max-width: 700px;
    margin: 0px auto;
}

/* common style end*/

/* component design start */
.get_early_access_btn {
    background-color: #469165;
    padding: 10px 10px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 700;
}

/* component design end */

/* header start */
#header {}


#header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

#header .header-wrapper img {
    width: 60px;
    height: 40px;
}

#header .navigation .menu_list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#header .navigation .menu_list li {
    list-style-type: none;
}

#header .navigation .menu_list li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 12px;
}

/* header end */

/* main start */

/* hero start */
#hero {
    background-image: url('../assets/hero-bg.png');
}

#hero .hero-content {
    text-align: center;
    padding-top: 140px;
    padding-bottom: 240px;
}

#hero .hero_title {
    padding: 5px 15px;
    background-color: white;
    display: inline;
    color: #469165;
    font-size: 13px;
    border-radius: 20px;
}

#hero .hero_heading {
    font-size: 50px;
    color: white;
    padding: 20px 0px;
}

#hero .hero_heading strong {
    color: #469165;
}

#hero .hero_description {
    line-height: 28px;
    color: white;
}

#hero .hero_btns {
    margin-top: 18px;
    display: flex;
    gap: 14px;
    justify-content: center;
}

#hero .hero_btns button {
    padding: 10px 10px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

#hero .hero_btns button:first-child {
    background-color: #469165;
    color: white;
}

#hero .hero_btns button:last-child {
    border: 2px solid white;
    color: white;
}

/* hero end */

/* main end */



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    /* common style start*/
    .container {
        max-width: 868px;
    }

    /* common style end*/
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    /* common style start*/
    .container {
        max-width: 1092px;
    }

    /* common style end*/
    /* header start */
    #header {}



    #header .header-wrapper img {
        width: 130px;
        height: 50px;
    }


    #header .navigation .menu_list li a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 14px;
    }

    /* header end */

    /* hero start */


    #hero .hero_heading {
        font-size: 70px;
        color: white;
        padding: 20px 0px;
    }

    /* hero end */
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    /* common style start*/
    .container {
        max-width: 1300px;
    }

    /* common style end*/
}