* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


.container {
    width: 95%;
    max-width: 700px;
    margin: 0px auto;
}




/* header start */
#header {}

#header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

#header .header-wrapper img {
    width: 60px;
    height: 40px;
}

#header .get_early_access_btn {
    background-color: #469165;
    padding: 10px 10px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 700;
}

#header .navigation .menu_list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#header .navigation .menu_list li {
    list-style-type: none;
}

#header .navigation .menu_list li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 12px;
}

/* header end */


/* hero start */
#hero {
    background-image: url('../assets/hero-bg.png');
}

#hero .hero-content {
    text-align: center;
    padding-top: 140px;
    padding-bottom: 240px;
}

#hero .hero_title {
    padding: 5px 15px;
    background-color: white;
    display: inline;
    color: #469165;
    font-size: 13px;
    border-radius: 20px;
}

#hero .hero_heading {
    font-size: 50px;
    color: white;
    padding: 20px 0px;
}

#hero .hero_heading strong {
    color: #469165;
}

#hero .hero_description {
    line-height: 28px;
    color: white;
}

#hero .hero_btns {
    margin-top: 18px;
    display: flex;
    gap: 14px;
    justify-content: center;
}

#hero .hero_btns button {
    padding: 10px 10px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

#hero .hero_btns button:first-child {
    background-color: #469165;
    color: white;
}

#hero .hero_btns button:last-child {
    border: 2px solid white;
    color: white;
}

/* hero end */


/* notes-structure section start */
#notes-structure {
    margin-top: 100px;
}

#notes-structure>h2,
p {
    text-align: center;
}

#notes-structure>h2 {
    font-size: 27px;
}

#notes-structure>p {
    font-size: 12px;
    margin-top: 6px;
    color: gray;
}

#notes-structure .notes-structure-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 70px;
}

#notes-structure .notes-structure-layout .note-card {
    width: calc(50% - 20px);
    text-align: center;
    padding: 28px;
    padding-top: 48px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

#notes-structure .notes-structure-layout .note-card img {
    width: 50px;
    background-color: orangered;
    border-radius: 50%;
    padding: 10px;
}

#notes-structure .notes-structure-layout .note-card>h6 {
    padding: 10px 0px;
    font-size: 23px;
}

#notes-structure .notes-structure-layout .note-card>p {
    color: rgba(0, 0, 0, 0.5);
}

/* notes-structure section end */

/* second-brain-structure section start */
#second-brain-structure {
    margin-top: 70px;
}

#second-brain-structure .brain-structure-wrapper {
    display: flex;
    flex-direction: column;
}


#second-brain-structure .brain-structure-wrapper figure img {
    width: 100%;
    height: 100%;
}



#second-brain-structure .brain-structure-wrapper .second-brain-structure-details h5{
    color: #469165;
    margin-bottom: 17px;
}

#second-brain-structure .brain-structure-wrapper .second-brain-structure-details h2{
    color: black;
    font-size: 43px;
}

#second-brain-structure .brain-structure-wrapper .second-brain-structure-details>p {
    text-align: left;
    padding: 20px 0px;
    color: rgba(0, 0, 0, 0.6);
}

#second-brain-structure .brain-structure-wrapper .second-brain-structure-details>div{
    display: flex;
    flex-direction: column;
    gap: 14px;
}


#second-brain-structure .brain-structure-wrapper .second-brain-structure-details div article {
    display: flex;
    gap: 4px;
}

/* second-brain-structure section end */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 868px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .container {
        max-width: 1092px;
    }

    /* header start */
    #header {}

    #header .header-wrapper img {
        width: 130px;
        height: 50px;
    }

    #header .navigation .menu_list li a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 14px;
    }

    /* header end */


    /* hero start */
    #hero .hero_heading {
        font-size: 70px;
        color: white;
        padding: 20px 0px;
    }

    /* hero end */

    /* notes-structure section start */
    #notes-structure h2 {
        font-size: 45px;
    }

    #notes-structure p {
        font-size: 14px;
    }

    #notes-structure .notes-structure-layout {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    #notes-structure .notes-structure-layout .note-card {
        width: calc(33% - 20px);
    }

    /* notes-structure section end */

    /* second-brain-structure section start */
    #second-brain-structure {}

    #second-brain-structure .brain-structure-wrapper {
        display: flex;
        flex-direction: row;
        gap: 60px;
        align-items: center;
    }


    #second-brain-structure .brain-structure-wrapper figure img {
        width: 460px;
        height: 100%;
    }

    #second-brain-structure .brain-structure-wrapper .second-brain-structure-details p {
        text-align: left;
    }
    /* second-brain-structure section end */

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .container {
        max-width: 1300px;
    }

    /* notes-structure section start */
    #notes-structure .notes-structure-layout {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    #notes-structure .notes-structure-layout .note-card {
        width: calc(25% - 20px);
    }

    /* notes-structure section end */

}