 .Todo_Board_container {
     width: 90%;
     margin: 0px auto;
 }

 #TODO__Board {}

 #TODO__Board header {
     text-align: center;
 }

 #TODO__Board header .input__area {
     display: flex;
     gap: 8px;
     justify-content: center;
 }

 #TODO__Board header .input__area input {
     font-size: 16px;
     padding: 4px 12px;
 }

 #TODO__Board header .input__area button {
     padding: 5px 30px;
     cursor: pointer;
     color: white;
     border: none;
     outline: none;
     border-radius: 6px;
     cursor: pointer;
     background-color: rebeccapurple;
 }

 #TODO__Board .todos-wrapper {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     gap: 12px;
     margin-top: 20px;
 }

 #TODO__Board .todos-wrapper .todo__cart {
     width: calc(50% - 12px);
     border: 1px solid rgba(0, 0, 0, 0.168);
     text-align: center;
     padding: 20px 0px;
 }

 #TODO__Board .todos-wrapper .todo__cart button {
     padding: 7px 14px;
     background-color: red;
     color: white;
     border: none;
     outline: none;
     border-radius: 6px;
     cursor: pointer;
 }

 @media screen and (min-width: 767px) {
     #TODO__Board .todos-wrapper .todo__cart {
         width: calc(33% - 12px);
     }
 }

 @media screen and (min-width: 900px) {
     #TODO__Board .todos-wrapper .todo__cart {
         width: calc(25% - 12px);
     }
 }